body {
  font: 20px Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #298A08;
}

.quem_somos {
  background-color: rgb(117, 117, 121);
  color: white
}

.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}

.subtitle {
  padding-top: 30px;
}

.parceiros {
  background-color: #32c9bf;
  color: white;
}

.bd-footer {
  background-color: black;
  color: white;
}